* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2b2b2b;
}

/* header {

} */

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    background-color: #222222;
    list-style: none;   
}

header nav ul li {
    display: flex;
    flex-basis: 100px;
    align-items: center;
    justify-content: center;
}

header nav ul li:last-child {
    text-transform: uppercase;
}

header nav ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fdfd69;
    transition: 0.2s;
    height: 40px;
}

header nav ul li a:hover {
    color: #eaeaea;
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;

}

.informacoes-texto {
    margin: 10px 20px;
    margin-left: 130px;
}

.informacoes h1 {
    font-size: 4rem;
    color: #eaeaea;
}

.informacoes h2 {
    font-size: 2rem;
    color: #eaeaea;
}

.informacoes-texto .habilidades {
    list-style: none;
    color: #fdfd69;
}

.informacoes-texto .habilidades li {
    width: 100px;
}

.informacoes-texto .habilidades li:hover {
    text-indent: 10px;
    transition: 0.2s;
    cursor: default;
    color: #eaeaea;
}

/* main {

} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #3d3d3d;
    margin: auto;
    border-radius: 2px;
}

.container h2 {
    width: 100%;
    color: #eaeaea;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
}

.container-projeto {
    width: 350px;
    text-decoration: none;
    color: #eaeaea;
    background-color: #2b2b2b;
    margin: 25px 10px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.unidade {
    width: 350px;
    height: 425px;
    text-decoration: none;
    color: #eaeaea;
    background-color: #2b2b2b;
    border-radius: 2px;
    padding: 5px;
    border: 3px solid #2b2b2b;
}

.unidade:hover {
    background-color: #3d3d3d;
}

.unidade:hover h3 {
    color: #eaeaea;
}


.unidade:hover p {
    color: #fdfd69;
}

.unidade h3 {
    color: #fdfd69;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5px;
}

.unidade img {
    width: 100%;
    height: 300px;
    margin: auto;
    border-radius: 2px;
}

.unidade:hover img {
    opacity: 25%;
}

#csharp {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
}

.unidade p {
    text-align: justify;
}

.span-acessar {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 335px;
    height: 300px;
    color: #2b2b2b;
    font-size: 2rem;
}

.unidade:hover .span-acessar {
    display: flex;
    color: white;
}

.container-projeto .projeto-saiba-mais {
    width: 100%;
    height: 25px;
    padding: 5px;
    text-decoration: none;
    color: #2b2b2b;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.container-projeto .projeto-saiba-mais:hover {
    background-color: #fdfd69;
    color: #2b2b2b;
}

.sobre {
    background-color: #2b2b2b;
}

.sobre p, .contato p {
    color: #eaeaea;
    display: block;
    width: 75%;
    margin-bottom: 10px;
    font-size: 1.5rem;
    transition: 0.2s;
}

.contato {
    background-color: #3d3d3d;
}

.contato a {
    color: #eaeaea;
    transition: 0.15s;
}


.contato p a {
    color: #fdfd69;
}

.contato a:hover {
    color: #222222;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid #eaeaea;
}

footer p {
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    display: none;
}

.desabilitado {
    cursor: wait;
    opacity: 0.5;
}

/* ---------------------------------------------------------------------------------------- */
/* FONTES */
/* ---------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'Oswald';
    font-weight: 200;
    src: url('fonts/Oswald-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 300;
    src: url('fonts/Oswald-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    src: url('fonts/Oswald-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    src: url('fonts/Oswald-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    src: url('fonts/Oswald-Bold.ttf') format('truetype');
}




/* ---------------------------------------------------------------------------------------- */
/* RESPONSIVO */
/* ---------------------------------------------------------------------------------------- */

@media (min-width: 360px) and (max-width: 480px) {
    .informacoes {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .informacoes-texto {
        margin: 5px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        flex-basis: 0;
    }

    .habilidades {
        margin: 0;
    }

    .container-projeto {
        margin: 5px auto;
    }

    nav, nav ul, nav ul li, nav ul li a, nav ul li:last-child {
        display: initial;
    }

    nav {
        position: fixed;
        left: -100%;
        transition: 0.15s;
        /* display: none; */
        opacity: 0.98;
    }

    header nav ul {
        flex-direction: column;

    }
    header nav ul li {
        flex-basis: 0;
        border-bottom: 1px solid #3d3d3d;
    }
    
    header nav ul li a {
        font-size: 1.2rem;
    }

    /* ÍCONE DO MENU */
    .menu-icon {
        position: fixed;
        width: 12%;
        height: 40px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        z-index: 1;
    }

    .menu-icon:hover {
        cursor: pointer;
    }

}

@media (min-width: 481px) and (max-width: 680px) {
    header nav ul {
        align-items: center;
        justify-content: center;
    }

    .informacoes {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .informacoes-texto {
        margin: 10px;
    }

    .container-projeto {
        width: 80%;
        margin: 10px;
    }
    
    .unidade {
        width: 100%;
    }
}