.elementos-projeto {
    margin-top: 40px;
}

main h1 {
    text-align: center;
    color: #eaeaea;
}

main .projeto-fotos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


main .projeto-fotos img {
    margin: 10px;
    width: 350px;
    height: 350px;
    border-radius: 2px;
    border: 2px solid #fdfd69;
    transition: 0.2s;
}

main .texto-projeto {
    margin: auto;

    width: 75%;
}

main p {
    margin-bottom: 5px;
    color: #eaeaea;
    font-size: 1.5rem;
}

a {
    color: #eaeaea;
    transition: 0.15s;
}


p a {
    color: #fdfd69;
}

a:hover {
    color: #222222;
}